.mainBox {
    border:1px solid transparent;
    width:65%;
    margin-top:5px;
    margin-bottom:5px;
    margin-right:5px;
    border-left-color:rgba(128, 128, 128, 0.39);
}

h1 {
    text-align:left;
    padding-left:30px;
}

form {
    display:flex;
}

.toDoInput {
    margin-left:30px;
    padding-left:10px;
    display:block;
    width:70%;
    height:24px;
    border-radius:2px;
    border:1px solid grey;
    background-color: transparent;
    transition: 0.2s ease-in;
}
    .toDoInput:hover {
        transition: 0.2s ease-out;
        border-color: rgb(255, 212, 72);
    }

.toDoButton[disabled] {
    margin-left:10px;
    padding:10px;
    padding-top:4px;
    padding-bottom:4px;
    border-radius:50px;
    background-color: grey;
    border: 1px solid grey;
    color:rgb(0, 0, 0);
    cursor:auto;
    font-weight: bold;
}
    .toDoButton[disabled]:hover {
        transform:scale(1);
}
.toDoButton {
    margin-left:10px;
    padding:10px;
    padding-top:4px;
    padding-bottom:4px;
    border-radius:50px;
    background-color: grey;
    border: 1px solid grey;
    color:rgb(0, 0, 0);
    cursor:pointer;
    font-weight: bold;
    background-color: rgb(255, 181, 90);
    border-color:  rgb(255, 181, 90);
}
    .toDoButton:hover {
        transform:scale(1.05);
    }


.tasks {
    display:flex;
}

.taskBoxes {
    display:block;
    justify-content: center;
    width:80%;
    margin-left:30px;
}

.taskBox {
    background-color:rgba(56, 56, 56, 0.411);
    width:112%;
    max-height:50px;
    margin-top:10px;
    position:relative;
    display:flex;
    cursor:pointer;
}
    .taskBox:nth-child(1) {
        border-top-right-radius: 5px;
    }
    .taskBox:last-child {
        border-bottom-right-radius: 5px;
    }

.noTaskBox {
    background-color:rgb(145, 255, 0);
    width:112%;
    max-height:50px;
    margin-top:10px;
    position:relative;
    display:flex;
    cursor:pointer;
    color:black;
    font-weight: bold;
}
    .noTaskBox:nth-child(1) {
        border-top-right-radius: 5px;
    }
    .noTaskBox:last-child {
        border-bottom-right-radius: 5px;
    }

.tasks {
    padding-left:10px;
    width:100%;
    justify-content: space-between;
}

.taskTextBox {
    width:100%;
    text-align: left;
}

.taskButtons {
    display:flex;
    justify-content:left;
    background-color: transparent;
    border:0px;
}