.mainBox {
    width:98.9vw;
    height:7vh;
    background-color:rgba(0, 0, 0, 0.151);
    display:flex;
    justify-content: space-between;
    box-shadow: 2px 2px 30px 0.5px rgba(0, 0, 0, 0.322);
    position:sticky;
    top:0px;
    z-index:2;
    backdrop-filter: blur(4px);
}

.navBar {
    display:flex;
}
.navigation {
    padding-right:22px;
    background-color: transparent;
    border: 0px;
    cursor:pointer;
}
    .navigationImg {
        height:25px;
        width:25px;
    }