.mainBox {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius:7px;
    min-height:70vh;
    width:65vw;
    display:flex;
    margin:auto;
    justify-content: space-between;
    margin-top:60px;
}

ul {
    width:40%;
    margin:-10px;
    padding:0px;
    font-size: 17px;
}

.liNoFocus {
    display:inline-block;
    width:80%;
    height:35px;
    padding-top:5px;
    padding-left:20px;
    margin:0px;
    margin-top:5px;
    margin-left:5px;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.5);
    border:0px solid transparent;
    cursor:pointer;
    transition:0.2s ease-in;
}

.liNoFocus:nth-child(1) {
    border-top-left-radius: 5px;
    margin-top:25px;
}
.liNoFocus:last-child {
    border-bottom-left-radius: 5px;
}

.liNoFocus:hover {
    border-left-color:rgb(224, 177, 89);
    border-left:3px solid rgb(224, 177, 89);
}

.liFocus {
    display:inline-block;
    width:80%;
    height:35px;
    padding-top:5px;
    padding-left:20px;
    margin:0px;
    margin-top:5px;
    margin-left:5px;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.5);
    border-left-color:rgb(224, 177, 89);
    border-left:3px solid rgb(224, 177, 89);
    cursor:pointer;
    transition:0.2s ease-in;
}

.liFocus:nth-child(1) {
    border-top-left-radius: 5px;
    margin-top:25px;
}
.liFocus:last-child {
    border-bottom-left-radius: 5px;
}



.arrow {
    max-height: 20px;
    max-width: 20px;
    animation:movement 1500ms ease infinite;
}

.textArrow {
    margin-top:160px;
    margin-bottom:5px;
}

@keyframes movement {
    0% {transform:translateY(5px)}
    50% {transform:translateY(-5px)}
    100% {transform:translateY(5px)}
}



.textAndArrow {
    view-timeline-name: --arrow;
    view-timeline-axis: block;

    animation-timeline: -arrow;
    animation-name:disappear;

    animation-range: entry 80%;
    animation-fill-mode:both;

    animation-duration: 5s;
}

